@{
	List<object> menuItems = new List<object>();

	menuItems.Add(new
	{
		text = "Genarel",
		separetor=true
	});
	menuItems.Add(new
	{
		text = "Dashboard",
		url = "/",
		iconCss = "fa-solid fa-box"
	});
	menuItems.Add(new
	{
		text = "Category",
		url = Url.Action("Index", "Categories"),
		iconCss="fa-solid fa-folder-closed"
	});
	menuItems.Add(new
	{
		text = "Transactions",
		url = Url.Action("Index", "Transactions"),
		iconCss="fa-solid fa-arrow-right-arrow-left"
	});
	menuItems.Add(new
	{
		text = "Extras",
		separetor=true
	});
	menuItems.Add(new
	{
		text = "Reports",
		url = "#",
		iconCss="fa-solid fa-chart-simple"
	});
	menuItems.Add(new
	{
		text = "Settings",
		url = "#",
		iconCss = "fa-solid fa-gear"
	});
}
<!-- sidebar element declaration -->
<ejs-sidebar id="sidebar" width="290px" closeOnDocumentClick="false">
	
	<e-content-template>
		<div class="logo-wrapper">
			<div class="app-logo">
				<img  src="~/favicon-32x32.png"/>
			</div>
			<div class="w-100"></div>
			<i id="sidebar-toggler" class="fa-solid fa-angles-left"></i>
		</div>
		<div class="profile-wrapper">
			<img class="profile-pic" src="~/profile-pic.jpg"/>
			<div class="titles d-flex flex-column ps-3">
				<h6 class="mb-0">Wallet App</h6>
				<span class="text-muted">Shiba Sarkar</span>
			</div>
		</div>
		<ejs-menu id="menu" items="menuItems" orientation="Vertical"></ejs-menu>
	</e-content-template>
</ejs-sidebar>
<!-- end of sidebar element -->
@section Scripts{
	<script>
		$(document).ready(function () {
			var dockBar = $('sidebar').ej2_instances[0].val();
			$('sidebar-toggler').on('click',function(){
				dockBar.toggle();
			});
		});
	</script>
}
