<!-- sidebar element declaration -->
<ejs-sidebar id="sidebar" width="290px" closeOnDocumentClick="false">
	<e-content-template>
		<div class="title-header">
			<div style="display:inline-block"> Side Bar</div>
		</div>
	</e-content-template>
</ejs-sidebar>
<!-- end of sidebar element -->