@model IEnumerable<Expence_Tracker.Models.Transactions>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "Transactions/CreateOrEdit";
}


<div class="row">
    <div class="col-md-7">
        <ejs-grid id="transaction" dataSource="@Model" gridLines="None" allowPaging="true" allowSorting="true">
        <e-grid-columns>
                <e-grid-column headertext="Category" field="CategoryWithIcon"></e-grid-column>
                <e-grid-column headertext="Date" field="Date" type="Date" format="MMM-dd-yy" textAlign="Left" width="110px"></e-grid-column>
                <e-grid-column headertext="Amount" field="FormateAmount" textAlign="Right" width="110px"></e-grid-column>
                <e-grid-column headertext="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
        </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>
<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
                <a class="btn btn-sm no-a-decoration" href="Transactions/CreateOrEdit/${TransactionId}">
            <i class="fa-solid fa-pen fa-lg"></i>
            </a>
            <form action="Transactions/Delete/${TransactionId}" method="post">
                  @Html.AntiForgeryToken()
                  <button type="submit" class="btn btn-sm btn-link no-a-decoration"
                  onclick="return confirm(&quot;Are you sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                  </button>
            </form>
    </div>
</script>